* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(90deg, rgb(65, 160, 250) 0%, rgb(82, 178, 254) 100%);
}

.container {
  border: solid green;
  height: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 2fr);
  max-height: 100%;
  gap: 1.5rem;
}
.grid-container div {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  padding: 1rem;
}
.grid-container .one {
  padding: 0 1rem;
}
.grid-container .one p {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
}
.grid-container .one p span {
  font-size: 1.2rem;
  font-weight: 400;
  display: block;
  margin-top: -4px;
}
.grid-container .two {
  grid-column: 2/3;
}
.grid-container .two h2 {
  font-size: 1.5rem;
}
.grid-container .two .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.grid-container .two .top .temp {
  font-size: 4.5rem;
  font-weight: 700;
}
.grid-container .two .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.grid-container .two .bottom p {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.grid-container .two .bottom p span {
  font-size: 1.5rem;
  font-weight: 400;
}
.grid-container .two .sunny {
  position: relative;
  width: 9rem;
  height: 9rem;
}
.grid-container .two .sunny:before {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  top: 10%;
  right: 10%;
  border-radius: 50%;
  z-index: 2;
  background-color: #f1c40f;
  background-image: radial-gradient(#f1c40f, #f39c12);
  box-shadow: 0 0 25px #917508;
}
.grid-container .two .sunny:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 1;
  background-color: #f39c12;
  will-change: opacity, transform;
  animation: fadeIn 2s linear infinite reverse, scaleDown 2s linear infinite reverse;
}
.grid-container .three {
  grid-column: 3/5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.grid-container .three .details {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  height: 100%;
}
.grid-container .three .details div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.grid-container .three .details div i {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.grid-container .three .details div .name {
  font-weight: 500;
  font-size: 1.2rem;
}
.grid-container .four {
  grid-column: 1/5;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes translateUp {
  0% {
    transform: translatey(15%);
  }
  100% {
    transform: translatey(0);
  }
}
@keyframes scaleUp {
  0% {
    transform: scaley(0);
  }
  100% {
    transform: scaley(1);
  }
}/*# sourceMappingURL=style.css.map */