$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$white2: rgb(226, 226, 226);
$background-linear: linear-gradient(90deg, rgb(65, 160, 250) 0%, rgb(82, 178, 254) 100%);
$grid-background: rgba(255, 255, 255, 0.1);

@mixin tile {
  border-radius: 15px;
  background-color: $grid-background;
  color: $white;
  padding: 0.8rem 1rem;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: $background-linear;
}

.container {
  border: solid green;
  height: 100%;
  padding: 1.5rem 2rem;
  padding: 0.8rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  color: $white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 2fr);
  max-height: 100%;
  gap: 1.5rem;

  h2 {
    font-size: 1.5rem;
  }

  .one, .two, .three, .four {
    @include tile;
  }

  .one {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    div {
      .name {
        font-size: 1.5rem;
        font-weight: 500;
      }

      .value {
        font-size: 1.2rem;
      }
    }
  }

  .two {
    grid-column: 2/3;

    .top {
      @include tile;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.5rem;

      .temp {
        font-size: 4.5rem;
        font-weight: 700;
      }
    }

    .bottom {
      @include tile;
      display: flex;
      justify-content: space-between;
      margin-top: 0.8rem;

      div {
        text-align: center;

        .name {
          font-size: 2rem;
          font-weight: 500;
        }

        .value {
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
    }

    .sunny {
      position: relative;
      width: 9rem;
      height: 9rem;

      &:before {
        content: "";
        position: absolute;
        height: 80%;
        width: 80%;
        top: 10%;
        right: 10%;
        border-radius: 50%;
        z-index: 2;
        background-color: #f1c40f;
        background-image: radial-gradient(#f1c40f, #f39c12);
        box-shadow: 0 0 25px #917508;
      }
      &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        z-index: 1;
        background-color: #f39c12;
        will-change: opacity, transform;
        animation: fadeIn 2s linear infinite reverse,
          scaleDown 2s linear infinite reverse;
      }
    }
  }


  .three {
    grid-column: 3/5;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .details {
      @include tile;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      height: 100%;

      div {
        @include tile;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        i {
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        .name {
          font-weight: 500;
          font-size: 1.2rem;
        }
      }
    }

    

  }

  .four {
    grid-column: 1/5;
    display: flex;
    justify-content: space-between;

    .other-days {
      @include tile;
      width: 16%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      > p {
        font-size: 1.5rem;
        font-weight: 500;
      }

      .middle {
        text-align: center;

        p:nth-child(1) {
          font-size: 3rem;
          font-weight: 500;
        }

        p:nth-child(2) {
          font-size: 1.5rem;
        }
      }

      .bottom {
        display: flex;
        gap: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}


@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes scaleDown {
	0% { transform: scale(1); }
	100% { transform: scale(.8); }
}

@keyframes translateUp {
	0% { transform: translatey(15%); }
	100% { transform: translatey(0); }
}

@keyframes scaleUp {
	0% { transform: scaley(0); }
	100% { transform: scaley(1); }
}
