* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(90deg, rgb(65, 160, 250) 0%, rgb(82, 178, 254) 100%);
}

.container {
  height: 100%;
  padding: 1.5rem 2rem;
  padding: 0.8rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  color: rgb(255, 255, 255);
  height: 5rem;
  display: flex;
  gap: 13rem;
  align-items: center;
}
.header .nav h1 {
  font-size: 1.7rem;
}
.header .nav p {
  font-size: 1.3rem;
}
.header .search input[type=text] {
  outline: none;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, calc((100% - 5rem) / 2));
  gap: 1.5rem;
  height: calc(100% - 5rem);
}
.grid-container h2 {
  font-size: 1.5rem;
}
@media (max-width: 1400px) {
  .grid-container h2 {
    font-size: 1.2rem;
  }
}
.grid-container .one, .grid-container .two, .grid-container .three, .grid-container .four {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
}
@media (min-width: 1401px) {
  .grid-container .one, .grid-container .two, .grid-container .three, .grid-container .four {
    padding: 0.8rem 1rem;
  }
}
@media (max-width: 1400px) {
  .grid-container .one, .grid-container .two, .grid-container .three, .grid-container .four {
    padding: 0.5rem 0.8rem;
  }
}
.grid-container .one {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 1400px) {
  .grid-container .one {
    gap: 2rem;
  }
}
.grid-container .one div .name {
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 1400px) {
  .grid-container .one div .name {
    font-size: 1.2rem;
  }
}
.grid-container .one div .value {
  font-size: 1.2rem;
}
@media (max-width: 1400px) {
  .grid-container .one div .value {
    font-size: 1rem;
  }
}
.grid-container .two {
  grid-column: 2/3;
}
.grid-container .two .top {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}
@media (min-width: 1401px) {
  .grid-container .two .top {
    padding: 0.8rem 1rem;
  }
}
@media (max-width: 1400px) {
  .grid-container .two .top {
    padding: 0.5rem 0.8rem;
  }
}
@media (max-width: 1400px) {
  .grid-container .two .top {
    margin-top: 1rem;
  }
}
.grid-container .two .top .temp {
  font-size: 4.5rem;
  font-weight: 700;
}
@media (max-width: 1400px) {
  .grid-container .two .top .temp {
    font-size: 2.5rem;
  }
}
.grid-container .two .bottom {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}
@media (min-width: 1401px) {
  .grid-container .two .bottom {
    padding: 0.8rem 1rem;
  }
}
@media (max-width: 1400px) {
  .grid-container .two .bottom {
    padding: 0.5rem 0.8rem;
  }
}
.grid-container .two .bottom div {
  text-align: center;
}
.grid-container .two .bottom div .name {
  font-size: 2rem;
  font-weight: 500;
}
@media (max-width: 1400px) {
  .grid-container .two .bottom div .name {
    font-size: 1.3rem;
  }
}
.grid-container .two .bottom div .value {
  font-size: 1.5rem;
  font-weight: 400;
}
@media (max-width: 1400px) {
  .grid-container .two .bottom div .value {
    font-size: 1.1rem;
  }
}
.grid-container .three {
  grid-column: 3/5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.grid-container .three .details {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  height: 100%;
}
@media (min-width: 1401px) {
  .grid-container .three .details {
    padding: 0.8rem 1rem;
  }
}
@media (max-width: 1400px) {
  .grid-container .three .details {
    padding: 0.5rem 0.8rem;
  }
}
@media (max-width: 1400px) {
  .grid-container .three .details {
    gap: 0.5rem;
  }
}
.grid-container .three .details div {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 1401px) {
  .grid-container .three .details div {
    padding: 0.8rem 1rem;
  }
}
@media (max-width: 1400px) {
  .grid-container .three .details div {
    padding: 0.5rem 0.8rem;
  }
}
@media (max-width: 1400px) {
  .grid-container .three .details div {
    padding: 0;
  }
}
.grid-container .three .details div i {
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 1400px) {
  .grid-container .three .details div i {
    font-size: 1rem;
    margin-bottom: 0rem;
  }
}
.grid-container .three .details div .name {
  font-weight: 500;
  font-size: 1.2rem;
}
@media (max-width: 1400px) {
  .grid-container .three .details div .name {
    font-size: 1rem;
  }
}
@media (max-width: 1400px) {
  .grid-container .three .details div .value {
    font-size: 0.9rem;
  }
}
.grid-container .four {
  grid-column: 1/5;
  display: flex;
  justify-content: space-between;
}
.grid-container .four .other-days {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  width: 16%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1401px) {
  .grid-container .four .other-days {
    padding: 0.8rem 1rem;
  }
}
@media (max-width: 1400px) {
  .grid-container .four .other-days {
    padding: 0.5rem 0.8rem;
  }
}
.grid-container .four .other-days > p {
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 1400px) {
  .grid-container .four .other-days > p {
    font-size: 1.3rem;
  }
}
.grid-container .four .other-days .middle {
  text-align: center;
}
.grid-container .four .other-days .middle p:nth-child(1) {
  font-size: 3rem;
  font-weight: 500;
}
@media (max-width: 1400px) {
  .grid-container .four .other-days .middle p:nth-child(1) {
    font-size: 2rem;
  }
}
.grid-container .four .other-days .middle p:nth-child(2) {
  font-size: 1.5rem;
}
@media (max-width: 1400px) {
  .grid-container .four .other-days .middle p:nth-child(2) {
    font-size: 1.2rem;
  }
}
.grid-container .four .other-days .bottom {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}
@media (max-width: 1400px) {
  .grid-container .four .other-days .bottom {
    font-size: 1.2rem;
  }
}

.sunny {
  position: relative;
  width: 9rem;
  height: 9rem;
}
@media (max-width: 1400px) {
  .sunny {
    width: 5rem;
    height: 5rem;
  }
}

.sunny:before,
.partly_cloudy__sun:before {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  top: 10%;
  right: 10%;
  border-radius: 50%;
  z-index: 2;
  background-color: #f1c40f;
  background-image: radial-gradient(#f1c40f, #f39c12);
  box-shadow: 0 0 25px #917508;
}
.sunny:after,
.partly_cloudy__sun:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 1;
  background-color: #f39c12;
  will-change: opacity, transform;
  animation: fadeIn 2s linear infinite reverse, scaleDown 2s linear infinite reverse;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes translateUp {
  0% {
    transform: translatey(15%);
  }
  100% {
    transform: translatey(0);
  }
}
@keyframes scaleUp {
  0% {
    transform: scaley(0);
  }
  100% {
    transform: scaley(1);
  }
}
/*
Weather Animations Source: https://codepen.io/olapli/pen/RgEwgm
Credit to olapli
*//*# sourceMappingURL=insights.css.map */